<div>
  <div class="row">
    <div class="span3">
      <blockquote>
        <div><strong>找人玩游戏而不可得？</strong></div>
        <div>游友们玩游戏的时间一目了然，不孤独，不麻烦！</div>
      </blockquote>
    </div>
    <div class="span3">
      <blockquote>
        <div><strong>想知道关于喜欢游戏的一切？</strong></div>
        <div>冰冷的游戏手册到处都是，这里却充满温暖。</div>
      </blockquote>
    </div>
    <div class="span3">
      <blockquote>
        <div><strong>其实我蛮想见见Ta们的...</strong></div>
        <div>那么就发起/参加线下活动吧。战友情谊不可替代，永不磨灭！</div>
      </blockquote>
    </div>
    <div class="span3">
      <blockquote>
        <div><strong>那么，10秒免费注册吧！</strong></div>
        <div>
          <form action="#">
            <div>邮件：<input type="text" class="input-small" placeholder="邮件"></div>
            <div>密码：<input type="text" class="input-small" placeholder="密码"></div>
            <div><button type="submit" class="btn btn-primary">免费注册</button></div>
          </form>
        </div>
      </blockquote>
    </div>
  </div>

  <hr>
  <div>
    <h2><small>对了，我就是在找他们...</small></h2>
    <div class="row">
      <div class="span6">
        <div class="pull-left">
          <div><img src="<%= asset_path('game_logo/war3_zhen3.jpg') %>" /></div>
          <div><small>魔兽.真三</small></div>
        </div>
        <div>

        </div>
      </div>
      <div class="span6">

      </div>
    </div>
  </div>
</div>
